
@{
    ViewData["Title"] = "NotFoundVignette";
}

    <h2 class="text-center font-weight-bold text-danger mt-5">
        We're sorry, but no electronic vignette was found. 
        Please, try again.
    </h2>