@model VinetkiBG.Models.ViewModels.VehicleViewAllModel
@{
    ViewData["Title"] = "Purchase";
}
<h1 class="text-center mt-4">Purchase vignnete</h1>

<div class="d-flex justify-content-center">
    <table class="table table-striped w-75 mt-5">
        <thead>
            <tr>
                <th scope="col">Friendly Name</th>
                <th scope="col">Details</th>
                <th scope="col">Vignette</th>
                <th scope="col">Start Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.Brand</th>
                <td>Mark</td>
                <td>Otto</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

