@{
    ViewData["Title"] = "Home Page";
}

<div class="text-success text-center">
    <h1 class="display-4 text-success">BG TOLL</h1>
    <h3 class="text-success">
        Complete information
        about new toll system
        in Bulgaria
    </h3>
</div>
