@model VinetkiBG.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Profile";
}

    <h1 class="text-center mt-4">About me</h1>
    <div class="container-fluid w-50 mt-5">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <th scope="col">Last Name</th>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <th scope="col">Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th scope="col">Vechile's count</th>
                    <td>@Model.VehiclesCount</td>
                </tr>
            </thead>

        </table>
    </div>