@model  List<VinetkiBG.Models.ViewModels.CreditCardAllViewModel>
@{
    ViewData["Title"] = "All";
}
<h1 class="text-center mt-4 text-primary">Choose Credit Card</h1>
<div class="button-holder text-center">
    <a href="/CreditCard/Register" class="btn btn-outline-primary font-weight-bold">Register Credit Card</a>
    <h6 class="text-center mt-4 font-weight-bold">Register if you don't have credit card ?</h6>
</div>
<div class="container mt-5">
    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-3">Bank Name</th>
                <th scope="col" class="col-lg-3">IBAN</th>
                <th scope="col" class="col-lg-3">Total Amount</th>
                <th scope="col" class="col-lg-3">Choose card</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var card in Model)
            {
            <tr class="row">
                <td class="col-lg-3">@card.BankName</td>
                <td class="col-lg-3">@card.IBAN</td>
                <td class="col-lg-3 font-weight-bold">@card.TotalAmount</td>
                <td class="col-lg-3">
                    <div class="button-holder">
                        <a href="/CreditCard/PayPenalty?id=@card.Id&vid=@ViewData["violationId"]&vam=@ViewData["violationAmmount"]" class="btn btn-outline-primary">Choose Card</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>