
@{
    ViewData["Title"] = "NotFound";
}

<h1 class="text-center text-primary">You don't have registered violation! Have a safety trip :)</h1>
<div class="container-fluid text-center">
    <img src="~/travel-safety-tips-for-corporate-and-leisure-travelers_1024x1024.jpg"
         width="50%"
         height="50%"
         alt="Alternate Text" />
</div>


